
var formatPrice = function(num){
  return '￥'+num;
}

var defaultDoctorImg = function(sex){ 
  return sex == 1 ? '/public/img/common/doctor_m.png' : '/public/img/common/doctor_wm.png';
}

var getSex = function(id){
  if(id == 1){
      return '男'
  }else if(id == 2) {
    return '女'
  }
}

var fOrderType = function(id){
  if(id == 'ORDER_TEXT'){
    return '图文'
  }else if(id == 'ORDER_VOICE'){
    return '语音'
  }else if(id == 'ORDER_VIDEO'){
    return '视频'
  }else if(id == 'ORDER_PRESC'){
    return '处方'
  }
}

var getOrderTypeName = function(id) {
  console.log(id,"this is id");
  if (id == "1") {
    return "图文问诊";
  }
  if (id == "2") {
    return "语音问诊";
  }
  if (id == "3") {
    return "视频问诊";
  }
}
var fInquiryType = function(id){
  if (id == 1) {
    return "待接诊";
  }
  if (id == 2) {
    return "已接诊";
  }
  if (id == 3) {
    return "已完成";
  }
  if (id == 5) {
    return "已退款";
  }
}
var fRecipeUseSatus =function(id) {
  if (id == 0) {
    return "未使用";
  }
  if (id == 1) {
    return "已使用";
  }
  if (id == 2) {
    return "已作废";
  }
}

module.exports = {
  formatPrice: formatPrice,
  defaultDoctorImg:defaultDoctorImg,
  getSex: getSex,
  fOrderType:fOrderType,
  fInquiryType:fInquiryType,
  getOrderTypeName:getOrderTypeName,
  fRecipeUseSatus:fRecipeUseSatus
}